body {
    font-family: 'Pridi', serif;
    font-size: 64px;
    color: #fff;
}


h1 {
    font-size: 64px;
 
    
}

.pink-text-shadow {
    text-shadow: 2px 4px 5px rgb(255, 72, 215),10px 10px 10px #000;
}

.blue-text-shadow {
    text-shadow: 2px 4px 5px rgb(54, 139, 250),10px 10px 10px #000;
}

/* Fixed to background */

video {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -2;
}

/* Game Content */
#game-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
}

#game-input input{
    border: 0;
    background: transparent;
    text-align: center;
    color: #fff;
   
    
}

#game-input input:focus {
    outline: none;
}

/* Hide Spin BUtton */

#game-input input::-webkit-inner-spin-button, 
#game-input input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#game-form label {
    color: white;
    font-size: 24px;
}



.btn-pink-shadow.active {
    text-shadow: 2px 4px 5px rgb(255, 72, 215);
}


.btn-blue-shadow.active {
   text-shadow: 2px 4px 5px rgb(69, 144, 243);
}

#game-form input[type='radio'] {
    visibility: hidden;
}

/* Game Limit Form */
#limit-form {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.limit-values {
    font-size: 20px;
    margin: 0;
}

#limit-form input {
    -webkit-appearance: none;
    width: 100%;
    display: block;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(230,145,233,1) 0%, rgba(29,29,155,1) 50%);
    border-radius: 30px;
    border: 2px solid #fff;
}

#limit-form input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(218, 230, 250);
    opacity: 1;
    width: 15px;
    height: 15px;
}

#limit-form input:focus {
    outline: none;
}

/* Game Timer */
#game-timer {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    bottom:0;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-timer-text {
    font-size: 15rem;
}

